<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.projectyasuo.projectyasuoapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/finallogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomePage"
            android:label="@string/title_activity_welcome_page"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".WelcomePage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.gatech.projectyasuo.projectyasuoapp.WelcomePage" />
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.gatech.projectyasuo.projectyasuoapp.LoginActivity" />
        </activity>
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MoviePage"
            android:label="@string/title_activity_movie_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountPage"
            android:label="@string/title_activity_account_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportPage"
            android:label="@string/title_activity_report_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchMovie"
            android:label="@string/title_activity_search_movie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecentMovies"
            android:label="@string/title_activity_recent_movies"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchMovies"
            android:label="@string/title_activity_search_movies"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".CommentRate"
            android:label="@string/title_activity_comment_rate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FilterSystem"
            android:label="@string/title_activity_filter_system"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageUsers"
            android:label="@string/title_activity_manage_users"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserDetail"
            android:label="@string/title_activity_user_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePassword"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest> <!-- <activity --><!-- android:name=".UserRatingList" --><!-- android:label="@string/title_activity_user_rating_list" --><!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->
